/engineProject/jspack_grunt/node_modules
/engineProject/bin/js
/engineProject2.0/node_modules
/engineProject/node_modules
/engineProject2.0/bin/js
/engineProject2.6/node_modules
/engineProject2.6/dist
/engineProject2.6/src/TL3dIndex.ts

/test2.6/node_modules
/test2.6/bin/js
/test2.6/release/web
/test2.6/relase/native/android_studio/app/build
/test2.6/relase/native/android_studio/app/src/main/assets/cache
/test2.6/relase/native/wkwebview/resource/cache